.container {
    .top {
        display: flex;
        align-items: center;
        gap: 3rem;

        position: sticky;
        top: 0;
        backdrop-filter: blur(12px);

        padding: 1.5rem;

        font-size: 2rem;
        font-weight: 700;
    }
}
