.nav {
    flex: 1;

    width: 100%;
    font-size: 2.4rem;

    ul {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    li {
        width: fit-content;
        padding: 1.2rem;

        a {
            display: flex;
            gap: 1.5rem;
        }
    }
    li:hover {
        background-color: rgba(236, 238, 243, 0.1);
        border-radius: 3rem;
    }
    li.active {
        font-weight: 700;
        svg {
            font-size: 3rem;
            stroke-width: 3;
        }
    }

    .postButton {
        display: inline-block;
        justify-content: center;

        margin-top: 2rem;
        padding: 1.5rem 9.5rem;
        border-radius: 3rem;
        background-color: dodgerblue;
    }
}
