.post {
    display: flex;
    gap: 1rem;

    padding: 2rem;
    border-bottom: 1px solid gray;

    .profile {
        border-radius: 50%;
        object-fit: cover;
    }
    .box {
        font-size: 1.6rem;
        line-height: 2rem;

        .postInfo {
            display: flex;
            gap: 0.5rem;

            .userName {
                font-weight: 700;
            }
            .userId,
            .time {
                color: gray;
            }
            .time:before {
                content: '·';
                margin-right: 0.5rem;
            }
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 2rem;
            margin-top: 1.4rem;
        }
    }
    .buttonContainer {
        display: flex;
        justify-content: space-between;

        button {
            padding: 1rem;
            color: white;
            border-radius: 50%;
        }
        .commented {
            color: rgba(29, 155, 240);
        }
        .reposted {
            color: rgb(142, 255, 163);
        }
        .liked {
            color: rgb(255, 123, 123);
        }

        .commentBtn:hover {
            color: rgba(29, 155, 240);
            background: radial-gradient(circle, rgba(29, 155, 240, 0.3) 0%, rgba(29, 155, 240, 0) 70%);
            transition: color 0.2s ease-in;
        }
        .repostBtn:hover {
            color: rgb(142, 255, 163);
            background: radial-gradient(circle, rgba(142, 255, 163, 0.3) 0%, rgba(29, 155, 240, 0) 70%);
            transition: color 0.2s ease-in;
        }
        .likeBtn:hover {
            color: rgb(255, 123, 123);
            background: radial-gradient(circle, rgba(255, 123, 123, 0.3) 0%, rgba(29, 155, 240, 0) 70%);
            transition: color 0.2s ease-in;
        }
    }
}
