.trend {
    a {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        padding: 1.5rem;
    }

    span {
        font-size: 1.2rem;
        color: gray;
    }
    strong {
        font-size: 1.6rem;
    }

    a:hover {
        background-color: rgba(236, 238, 243, 0.1);
    }
}
