.container::backdrop {
    background-color: rgba(191, 191, 191, 0.4);
}

.container {
    display: flex;

    width: 100dvw;
    height: 100dvh;
    max-width: none;
    max-height: none;
    padding: 0;
    margin: 0;

    border: none;
    background-color: transparent;

    .close {
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 0;
        left: 0;
        padding: 0.5rem;

        color: white;
        background-color: rgba(191, 191, 191, 0.1);
        border-radius: 50%;
        z-index: 10;
        outline: none;
    }
    .close:hover {
        background-color: rgba(191, 191, 191, 0.3);
        transition: background-color 0.2s ease-in;
    }
    .imageZone {
        flex: 1;
        position: relative;

        img {
            object-fit: contain;
        }
    }
    .commentZone {
        width: 35rem;
        background-color: black;
        overflow: auto;
    }
}
