<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<th:block th:replace="~{/common/layout/basic :: setContent(~{this::layout_content})}">
    <th:block th:fragment="layout_content">

        <button onclick="location.href='/movie/register'">글쓰기</button>

        <div id="data-container" style="max-width: 1200px; margin: 0 auto;">
            <table>
                <thead>
                <tr>
                    <th>포스터</th>
                    <th>영화제목</th>
                    <th>등급</th>
                    <th>댓글수</th>
                </tr>
                </thead>
                <tbody style="cursor: pointer">
                <tr th:each="dto,state : ${pageList.content}"
                    th:attr="data-href=@{/movie/read(id=${dto.id})}"
                    th:onclick="|location.href=this.getAttribute('data-href')|">
                    <td>
                        <img th:src="|/display?fileName=${dto.uploadResultDTO.thumbnailURL}|" alt="poster" width="100px">
                    </td>
                    <td th:text="${dto.title}"></td>
                    <td th:text="${dto.grade}"></td>
                    <td th:text="${dto.reviewCount}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Search -->
        <form th:action="@{/movie/list}" method="get">
            <select name="size">
                <option value="10" th:selected="${pageRequest.size == 10}">10</option>
                <option value="20" th:selected="${pageRequest.size == 20}">20</option>
                <option value="30" th:selected="${pageRequest.size == 30}">30</option>
                <option value="50" th:selected="${pageRequest.size == 50}">50</option>
                <option value="100" th:selected="${pageRequest.size == 100}">100</option>
            </select>
            <input type="text" id="search" name="search" th:value="${search}" placeholder="제목">
            <button type="submit">검색</button>
        </form>

        <!-- Pagination -->
        <div id="pagination"
             th:attr="
             data-total-pages=${pageList.totalPages},
                data-current-page=${pageList.number + 1},
                data-size=${pageRequest.size}">
        </div>
    </th:block>

</th:block>

<script type="module">
    import { setupPagination } from '/js/pagination.js';

    const URI = '/movie/list'; // API 엔드포인트
    const search = document.getElementById('search').value;

    setupPagination('pagination', URI, search);
</script>
</html>