<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input type="file" name="uploadFiles" id="uploadFiles" multiple>
<button id="uploadBtn">upload</button>

<h1>원본</h1>
<div class="result-container"></div>

<h1>썸네일</h1>
<div class="thumbnail-container"></div>

<script>
    //원본이미지
    function showUploadedImages(uploadResultDTOList) {
        const resultContainer = document.querySelector('.result-container');

        for (let i = 0; i < uploadResultDTOList.length; i++) {
            // img 태그 동적으로 생성
            const img = document.createElement('img');
            img.src = '/display?fileName=' + uploadResultDTOList[i].imageURL; // 서버에서 받은 URL 적용
            img.alt = 'uploaded image'; // 대체 텍스트 설정

            // 이미지 DOM 요소 컨테이너에 추가
            resultContainer.appendChild(img);
        }
    }

    //썸네일
    function showUploadedThumbnails(uploadResultDTOList) {
        const thumbnailContainer = document.querySelector('.thumbnail-container');

        for (let i = 0; i < uploadResultDTOList.length; i++) {
            // 썸네일 컨테이너 생성
            const thumbnailDiv = document.createElement('div');
            thumbnailDiv.className = 'thumbnail-item'; // 스타일링을 위한 클래스 추가

            // img 태그 동적으로 생성
            const img = document.createElement('img');
            img.src = '/display?fileName=' + uploadResultDTOList[i].thumbnailURL; // 서버에서 받은 URL 적용
            img.alt = 'thumbnail image'; // 대체 텍스트 설정

            // 삭제 버튼 생성
            const deleteButton = document.createElement('button');
            deleteButton.textContent = '삭제'; // 버튼 텍스트 설정
            deleteButton.className = 'delete-button'; // 스타일링을 위한 클래스 추가

            deleteButton.addEventListener('click', async () => {
                try {
                    const formData = {
                        fileName: uploadResultDTOList[i].imageURL,
                    }
                    console.log("formData: ", formData);

                    // 파일 업로드 API 호출
                    const response = await fetch('/movie/files/delete', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify(formData)
                    });

                    if (response.ok) {
                        console.log('response: ', response);

                        const responseBody = await response.json(); // 응답 JSON 처리
                        console.log('responseBody: ', responseBody);

                        if( responseBody) {
                            thumbnailContainer.removeChild(thumbnailDiv); // 삭제 버튼 클릭 시 썸네일 컨테이너 삭제
                        }
                    } else {
                        console.log("삭제 실패!");
                    }
                } catch (error) {
                    console.error('Error:', error);
                }

            });

            // 썸네일과 버튼을 thumbnailDiv에 추가
            thumbnailDiv.appendChild(img);
            thumbnailDiv.appendChild(deleteButton);

            // 이미지 DOM 요소 컨테이너에 추가
            thumbnailContainer.appendChild(thumbnailDiv);
        }
    }

    document.getElementById('uploadBtn').addEventListener('click', async (event) => {
        const formData = new FormData();
        const files = document.getElementById('uploadFiles').files;

        for (let i = 0; i < files.length; i++) {
            formData.append('uploadFiles', files[i]);
        }

        try {
            // 파일 업로드 API 호출
            const response = await fetch('/movie/upload', {
                method: 'POST',
                body: formData
            });

            if (response.ok) {
                const uploadResultDTOList = await response.json();
                console.log("업로드 성공: " + uploadResultDTOList);
                showUploadedImages(uploadResultDTOList);
                showUploadedThumbnails(uploadResultDTOList);
            } else {
                console.log("업로드 실패!");
            }
        } catch (error) {
            console.error('Error:', error);
        }
    });
</script>
</body>
</html>