.container {
    display: flex;
    flex-direction: column;

    height: 100%;

    .tabs {
        display: flex;
        position: sticky;
        top: 0;
        border-bottom: 1px solid gray;
        backdrop-filter: blur(12px);

        button {
            flex: 1;

            padding: 2rem;

            color: white;
            font-size: 1.6rem;
            font-weight: 700;
        }
        button:hover {
            background-color: rgba(236, 238, 243, 0.1);
            transition: background-color 0.2s ease-in-out;
        }
    }

    .formWrapper {
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 1rem;

        padding: 1.4rem 1.4rem 0;
        border-bottom: 1px solid gray;

        .profile {
            border-radius: 50%;
            object-fit: cover;
        }
        textarea {
            display: block;
            padding: 1.4rem 0;

            background: none;
            border: none;
            color: white;
            font-size: 2rem;
            scrollbar-width: none;
        }
        .buttonWrapper {
            display: flex;
            justify-content: space-between;
            padding: 1.4rem 0;

            border-top: 1px solid gray;

            .imgButton {
                svg {
                    color: white;
                }
            }
            button[type='submit'] {
                padding: 1rem 1.8rem;

                font-size: 1.8rem;
                font-weight: 700;
                background-color: gray;
                border-radius: 2rem;
            }
        }
    }
}
