.container {
    display: flex;
    flex-direction: column;

    height: 100%;

    .tabs {
        display: flex;
        position: sticky;
        top: 0;
        border-bottom: 1px solid gray;
        backdrop-filter: blur(12px);

        button {
            flex: 1;

            padding: 2rem;

            color: white;
            font-size: 1.6rem;
            font-weight: 700;
        }
        button:hover {
            background-color: rgba(236, 238, 243, 0.1);
            transition: background-color 0.2s ease-in-out;
        }
    }
}
