.container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    flex: 1;
    width: 100%;

    .leftHeader {
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 5.2rem;
            height: 5.2rem;

            a {
                display: inline-block;

                svg {
                    width: 5rem;
                    height: 3rem;
                }
            }
        }
    }
    .main {
        display: flex;
        justify-content: center;
        gap: 2rem;

        width: 100%;
        border-left: 1px solid gray;

        .mainSection {
            width: 100%;
            max-width: 60rem;
            border-right: 1px solid gray;
        }

        .rightSection {
            display: none;
        }
    }
}

@media screen and (min-width: 702px) {
    .container {
        justify-content: center;

        .main {
            width: unset;
        }
    }
}

@media screen and (min-width: 1024px) {
    .container {
        .main {
            .rightSection {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                width: 100%;
                max-width: 35rem;
                margin-right: 7rem;
                padding-top: 0.5rem;

                .content {
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;

                    position: sticky;
                    top: 1rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    .container {
        .leftHeader {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            position: sticky;
            top: 0;

            height: 100dvh;
            width: 27.5rem;
            padding: 0 0.8rem;

            .logoutButton {
                color: white;
            }
        }
        .main {
        }
    }
}
