.container {
    display: flex;
    justify-content: center;
    align-items: stretch;

    .leftHeader {
        display: flex;
        flex-direction: column;
        align-items: start;

        position: sticky;
        top: 0;

        height: 100dvh;
        width: 27.5rem;
        padding: 0 0.8rem;

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 5.2rem;
            height: 5.2rem;

            a {
                display: inline-block;

                svg {
                    width: 5rem;
                    height: 3rem;
                }
            }
        }

        .logoutButton {
            color: white;
        }
    }

    .main {
        display: flex;
        width: 105rem;
        justify-content: space-between;

        border-left: 1px solid gray;

        .mainSection {
            width: 60rem;
            border-right: 1px solid gray;
        }

        .rightSection {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            width: 35rem;
            margin-right: 7rem;

            .content {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                position: sticky;
                top: 1rem;
            }
        }
    }
}
