.container {
    .searchBox {
        padding: 1rem 1.4rem;

        input {
            width: 100%;
            height: 4rem;

            background: none;
            border: 1px solid gray;
            border-radius: 3rem;
        }
    }
    .title {
        font-size: 3.2rem;
        padding: 1.5rem;
    }
}
