.container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100dvw;
    height: 100dvh;
}

.left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;

    svg {
        max-width: 100%;
        max-height: 38rem;
    }
}

.right {
    flex: 1;
    flex-shrink: 0;
    padding: 1.6rem;

    .title {
        display: flex;
        flex-direction: column;
        gap: 7rem;

        span {
            font-weight: 700;
            white-space: nowrap;
        }
        span:first-of-type {
            font-size: 7rem;
        }
        span:last-of-type {
            font-size: 3rem;
        }
    }

    .buttonWrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;

        margin-top: 4rem;

        a {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 30rem;
            height: 4rem;

            border-radius: 2rem;
            font-size: 1.6rem;
            font-weight: 700;
        }
        .signup {
            background-color: white;
            color: black;
        }
        .signup:hover {
            background-color: rgb(216, 216, 216);
            transition: background-color 0.2s ease-in-out;
        }
        .login {
            border: 1px solid rgb(83, 100, 113);
        }
        .login:hover {
            background-color: rgba(250, 250, 250, 0.1);
            transition: background-color 0.2s ease-in-out;
        }
    }
}
