.container {
    display: flex;
    flex-direction: column;

    .searchContainer {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        padding: 1.5rem 1.5rem 0;
        border-bottom: 1px solid gray;
        backdrop-filter: blur(12px);
        position: sticky;
        top: 0;

        .searchWrapper {
            display: flex;
            align-items: center;
            gap: 2rem;

            form {
                flex: 1;
            }
        }
    }
}
