.profileContainer {
    display: flex;
    flex-direction: column;

    padding: 1.5rem;

    .top {
        display: flex;
        align-items: center;
        gap: 3rem;
        font-size: 2rem;
        font-weight: 700;
    }
    .profileBox {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-top: 1rem;

        .profile {
            display: flex;
            align-items: center;
            gap: 3rem;

            img {
                border-radius: 50%;
                object-fit: cover;
            }
            .userInfo {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                .userName {
                    font-size: 2rem;
                    font-weight: 700;
                }
                .userId {
                    display: block;
                    font-size: 1.6rem;
                }
            }
        }
        .followButton {
            padding: 1rem 1.6rem 0.7rem;

            font-size: 1.6rem;
            font-weight: 700;
            background-color: white;
            border-radius: 5rem;
        }
    }
}
