.container {
    padding: 1rem;
    width: 60rem;

    background-color: black;
    border-radius: 2rem;

    .formWrapper {
        display: flex;
        flex-direction: column;

        padding: 4rem 7rem;

        .title {
            font-size: 3rem;
            font-weight: 700;
        }

        .inputContainer {
            display: flex;
            flex-direction: column;
            gap: 3rem;

            margin-top: 3rem;

            label:has(input[type='file']) {
                padding: 1rem 1rem;

                border: 1px solid gray;
                border-radius: 0.5rem;

                span {
                    position: relative;
                    top: 0;

                    font-size: 1.2rem;
                    font-weight: 500;
                    color: gray;
                }
                input {
                    display: block;
                    margin-top: 0.1rem;
                }
            }
            label:has(input[type='file']):hover {
                cursor: pointer;
            }
        }

        button[type='submit'] {
            margin-top: 10rem;
        }
    }
}
